
/*
Body

Style dla caej strony internetowej.

Markup:
<body>
    <p>Body automatycznie usuwa <i>margin</i> oraz <i>padding</i> ze strony, ustawia wysoko na 100%, aby to byo penej wysokoci i szerokoci.<br><br>
    Display ustawiony na <i>flex column</i>, aby ukad by w pionie.<br><br>
    Ustawiono r贸wnie偶 <i>scroll-behavior</i> na <i>smooth</i> aby przy ewentualnym korzystaniu z przycisk贸w manipulujcych wysokoci, wszystko odbywao si pynnie.<br><br>
    Domylna czcionka: <i>system-ui</i><br><br>
    Aby edytowa wygld ta zmie kolory w: <i>background: linear-gradient(300deg,(kolor1),(kolor2), (kolor3))</i>
    </p>
</body>

Style guide: 1.0
*/
body{
    padding: 0;
    margin: 0;
    height: 100%;
    background: linear-gradient(300deg,#0c0b0b,#0c0b0b, #553e3e);
    background-size: 120% 120%;
    animation: gradient-animation 8s ease infinite;
    font-family: system-ui;
    background-size: cover;
    background-attachment: fixed;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    opacity: 1;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/*
Kontener

Style dla g贸wnego kontenera strony.

Markup:
<div class="container">
    <p>Kontener ustawia margin oraz padding na wartoci zerowe<br>rodkuje elementy poziomo na stronie</p>
</div>

Styleguide: 2.0
*/
.container{
    flex: 1;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
}

/* 
Scrollbar 

Style dla scrollbaru oraz przycisku przenoszcego na g贸re strony

Markup:
Wygld paska po prawej stronie ----------------------------------->
<p>Przycisk do przenoszenia na g贸r przy poczeniu z JS znika gdy jestemy na samej g贸rze strony.</p>
<p>Edytor scrolla <b>nie dziaa</b> na przegldarkach <b>Firefox</b>, poniewa偶 ignoruj one manipulacje scrollbaru.</p>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<button onclick="topFunction()" id="top-page" style=visibility:visible title="Top"><div class="arrow"></div></button>

Styleguide: 3.0
*/
::-webkit-scrollbar {
    width: 10px;
    background: grey;
}
::-webkit-scrollbar-thumb{
    background: rgb(207, 207, 207);
    border-radius: 30px;
}
#top-page {
    visibility: hidden;
    display: block;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 1;
    border: none;
    outline: none;
    background-color: rgb(197, 75, 75);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 15px;
    transition: all 0.2s ease-in-out;
}

#top-page:hover {
    background-color: rgb(73, 4, 8);
}
.arrow {
    width:30px;
    height:30px;
    display: grid;
    overflow: hidden;
    transform: rotate(270deg);
}
.arrow:before, .arrow:after {
    content: "";
    grid-area: 1/1;
    background: currentColor;
    clip-path: polygon(0 10px,calc(100% - 15px) 10px,calc(100% - 15px) 0,100% 50%,calc(100% - 15px) 100%,calc(100% - 15px) calc(100% - 10px),0 calc(100% - 10px));
    animation: a5 1s infinite;
    transform: translate(calc(0% + var(--s,0%)));
}
.arrow:after {
    --s:-100%;
}
@keyframes a5 {
    80%,100%{transform: translate(calc(100% + var(--s,0%)))}
}

/* 
G贸rne menu 

Style dla paska nawigujcego

Markup:
<p>Pasek nawigacyjny, kt贸ry zawsze trzyma si u samej g贸ry strony.<br>Jeli chcesz zmieni pasek tak, aby po przescrollowaniu w d贸 znika<br>zmie position w .navbar na "absolute"</p>
<div class="navbar">
    <ul>
        <li><a href="https://youtube.com" target="_blank" style=margin-top:-32px; margin-left:-52px><i class="fa-brands fa-youtube"></i>&nbsp;YouTube</a></li>
        <li><a href="https://github.com/404ptk" target="_blank" style=margin-top:-32px; margin-left:-32px><i class="fa-brands fa-github"></i>&nbsp;Github</a></li>
        <li><a class="contact" target="contact_swipe" style=margin-top:-32px; margin-left:-32px><button onclick="contact_form()"><i class="fa-solid fa-phone"></i>&nbsp;Kontakt</button></a></li>
    </ul>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

Styleguide: 4.0
*/
.navbar{ 
    /* g贸wny pasek */
    left: 0;
    top: 0;
    width: 100%;
    height: 3em;
    background-color: rgb(197, 75, 75);
    position: fixed;
    z-index: 3;
}
.navbar ul{
    width: 100%;
    display: flex;
    height: 100%;
    place-items: center;
}
.navbar ul li{
    width: 100%;
    margin-left: -32px;
    display: flex;
}
.navbar a{
    display: flex;
    width: 100%;
    height: 3em;
    place-items: center;
    text-decoration: none;
    color: white;
    justify-content: center;
    transition: all 0.1s ease-in-out;
}
.navbar a:hover{
    background-color: rgb(73, 4, 8);
    font-weight: 700;
    transition: all 0.1s ease-in-out;
}
.navbar button{
    width: 100%;
    height: 100%;
    border: 0;
    background-color: rgb(197, 75, 75);
    color: white;
}
.navbar button:hover{
    background-color: rgb(73, 4, 8);
    font-weight: 700;
    transition: all 0.1s ease-in-out;
}

/* 
Og贸lne 

Wygld poszczeg贸lnych element贸w, kt贸re mog si np. powtarza, typu section

Markup:
<section>
    <h1 style=color:black>Tekst</h1>
    <hr>
    <h1><b>Tekst 2</b></h1>
</section>

Styleguide: 5.0 
*/
section{
    width: 100%;
    margin-bottom: 50px;
}
hr{
    width: 100%;
    color: black;
    margin-top: 30px;
}
h1{
    margin-top: 50px;
    font-size: 200%;
    font-weight: 400;
    color: white;
    cursor: default;
    display: flex;
    justify-content: center;
    text-align: center;
    transition: all 0.3s;
}
h1 b{
    font-weight: 500;
    color: rgb(197, 75, 75);
}
h1:hover{
    transition: all 0.3s;
    letter-spacing: 1px;
}

/* 
adowanie 

Wygld animacji adowania strony (reszta w skrypcie JS)

Markup:
<i id="loading" class="fa-solid fa-spinner fa-spin fa-2xl"></i>
<p>Tutaj wywietla si ikona adowania strony, pobierana z fontawesome, wic nie wywietli si w tym dokumencie.<br>---------</p>
<div id="loading-indicator" style=display:block></div>
<p>Poni偶ej wywietla si ikona zrobiona tylko podczas adowania film贸w<br><br><br><br><br><br><br><br><br><br></p>
<p>Do edytowania koloru okrgu u偶yj:<br><i>- border-top: 5px solid (kolor g贸wny obrotu);</i><br><i>- border: 5px solid (kolor w tle);</i>

Styleguide: 6.0
*/
[hidden]{
    display: none;
}
#loading{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
}
#loading-indicator {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -25px; 
    margin-left: -25px; 
    border: 5px solid #f3f3f3;
    border-top: 5px solid rgb(197, 75, 75);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    opacity: 1; 
    display: none; 
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* 
Pasek wyszukiwania

Style dla paska wyszukiwania nagra (u偶yto r贸wnie偶 Bootstrap 5.3.2)

Markup:
Do pasku wyszukiwania u偶yto Bootstrap, na stronie wyglda inaczej.
<section id="searching">
    <h1 style=color:grey>Wyszukaj film w serwisie&nbsp;<b>YouTube <i class="fa-brands fa-youtube fa-shake" style="--fa-animation-duration: 3s;"></i></b></h1>
    <div class="search">
        <form id="form">
            <div id="search-bar">
                <input type="text" class="form-control" id="search">
                <input type="submit" class="btn btn-danger" value="" id="search_icon">
            </div>
        </form>
        <p id="description"></p>
    </div>
</section>

Styleguide: 7.0
*/
#search-bar{
    transition: all 0.3s;
    width: 50.6%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
#searching{
    margin-top: 65px;
}
#search_icon{
    border-radius: 0% 30% 30% 0%;
    display: flex;
    align-items: center;
}
#search_icon:hover{
    border: 1px solid rgb(73, 4, 8);
    background-color: rgb(73, 4, 8);
}
#search{
    border-radius: 10px 0% 0% 10px;
    transition: all 0.3s ease-in-out;
}

/* 
Menu filtr贸w 

Style dla okna z filtrami wyszukiwania (U偶yto r贸wnie偶 Bootstrap 5.3.2)

Markup:
Do przycisku filtry oraz input贸w u偶yto Bootstrap, na stronie wyglda inaczej.
<div id="filters" style=display:flex;color:white;margin-bottom:20px>
    <label for="upload-range" class="form-label">Data publikacji</label>
    <p>(Powstae przed t dat)</p>
    <input type="date" id="upload-range" name="upload-range" value="2024-01-21" min="2018-01-01" max="2024-01-21">
    <label for="max-results" class="form-label">Ilo wynik贸w</label>
    <input type="range" class="form-range" id="max-results" value="6" min="1" max="11" step="1" oninput="this.nextElementSibling.value = this.value">
    <output id="max-results-output">6</output>
</div>
<div id="filtry">
    <button onclick="filtry()" class="btn btn-danger" id="filtry-button">Filtry</button>
</div>
<br>
<p>Aby edytowa to i kolory tekstu w oknie filtrowym, nale偶y zmieni w <u>#filters:</u></p>
<p>Kolor napisu:<i> color: (kolor)</p></i>
<p>Kolor ta:<i> background-color: (kolor)</p></i>

Styleguide: 8.0
*/
#filters{
    top: 0;
    left: 0;
    padding: 20px;
    background-color: rgb(0, 0, 0);
    margin-top: 20px;
    position: relative;
    display: none;
    flex-direction: column;
    justify-content: center;
    font-weight: 600;
    border-radius: 30px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#filters input{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}
input[type=range]::-webkit-slider-thumb{
    background-color: rgb(197, 75, 75);
}
input[type=range]::-webkit-slider-runnable-track{
    background-color: rgb(71, 71, 71);
}
#upload-range{
    background-color: rgb(71, 71, 71);
    border: 0;
    color: white;
    padding: 0px 5px 0px 5px;
}
input[type=date]::-webkit-calendar-picker-indicator{
    filter: invert(100%);
}
#filters output{
    color: white;
    text-align: center;
}
#filters p{
    margin-left: auto;
    margin-right: auto;
    color: rgb(107, 107, 107);
    padding: 0;
}
#upload-range{
    margin-bottom: 20px;
}
#form label{
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#filtry{
    display: flex;
    justify-content: center;
}
#filtry-button{
    border-radius: 20px;
    transition: all 0.2s;
    width: 70px;
}
#filtry-button:hover{
    width: 80px;
    transition: all 0.2s;
    border: 1px solid rgb(73, 4, 8);
    background-color: rgb(73, 4, 8);
}

/* 
Wyniki wyszukiwania

Style dla kafelk贸w z filmami

Markup:
<p>Wygld kafelka:</p>
<section id="player">
    <div class="row">
        <div class="col-md-12">
            <div id="videos">
                <div class="video-container">
                    <iframe width="420" height="315" src="http://www.youtube.com/embed/${item.id.videoId}" frameborder="0" allowfullscreen></iframe>
                        <div class="video-details">
                            <p><b id="title">${title}</b></p>
                            <a id="channel" href="${channelLink}" target="_blank"><img src="${channelInfo.avatar}" alt="Avatar kanau">&nbsp; ${channelInfo.title}</a>
                            <p id="upload_date">${uploadDate} &#x2022; ${formattedViewCount} wywietle</p>
                            <p id="description">${videoDescription}</p>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>
<p>Aby zmieni poszczeg贸lne motywy nale偶y zagldn do:</p>
<p>Dla tytuu filmu: <i> #title</p></i>
<p>Dla nazwy kanau oraz avataru: <i> #channel</p></i>
<p>Dla daty dodania: <i> #upload_date</p></i>
<p>Dla opisu filmu: <i> #description</p></i>

Styleguide: 9.0                
*/
#videos{
    display: block;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    place-items: center;
}
#videos .video-details{
    padding: 20px;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
}
#videos .video-details #title{
    font-size: 130%;
}
#videos .video-details img{
    width: 50px;
    border-radius: 30px;
}
#videos .video-details #description{
    color: grey;
    font-size: 80%;
    cursor: default;
}
.video-container{
    box-shadow: 0px 0px 10px black;
    background-color: rgba(0, 0, 0, 0.514);
    display: flex;
    flex-direction: row;
}
.video-container:hover{
    transition: all 0.15s ease-out;
    box-shadow: 0px 0px 15px rgb(177, 84, 84);
}
#videos hr{
    margin-bottom: 30px;
}
#videos .video-details a{
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}
#videos .video-details a:hover{
    transition: all 0.2s;
    color: grey;
}

/* 
Formularz kontaktowy

Style dla formularza kontaktowego (U偶yto r贸wnie偶 Bootstrap 5.3.2)

Markup:
Na stronie zaimplementowano skrypt kt贸ry tworzy animacje midzy przejciami, <br>dodatkowo u偶yto r贸wnie偶 Bootstrap 5.3.2 do p贸l do wypenienia oraz przycisk贸w. <br>Finalny wynik na stronie jest lekko inny.
<div id="slidein" class="show" name="contact_swipe">
    <form action="#" method="GET" id="kontakt">
        <h2>Formularz kontaktowy</h2>
        <input type="text" class="form-control" placeholder="Imi" id="name" name="name" autofocus>
        <input type="text" class="form-control" placeholder="Nazwisko" id="surname" name="surname">
        <input type="mail" class="form-control" placeholder="Adres email" name="mail" id="mail">
        <textarea class="form-control" rows="3" placeholder="Tre wiadomoci" name="text-message" id="text-message"></textarea>
        <input type="file" name="file" id="file" class="btn btn-danger">
        <input type="radio" checked disabled id="agree" name="agree"> <b>Zezw贸l na kontakt</b><br>
        <button onclick="updateValue()" type="button" id="submit" name="submit" class="btn btn-danger">Wylij</button>
    </form>
</div>

Styleguide: 10.0        
*/
#kontakt{
    margin: 40% auto 0px auto;
    display: block;
    width: 50%;
}
#kontakt h1:hover{
    letter-spacing: 0px;
}
#kontakt input, textarea{
    margin-top: 20px;
}
#kontakt #file{
    width: 100%;
}
#kontakt b{
    font-weight: 400;
    color: white;
    cursor: default;
}
.hide {
    overflow: hidden;
    width: 0%;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.show {
    transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    width: 34.45%;
    overflow: hidden;
}
#slidein {
    z-index: 1;
    height: 100%;
    position: fixed;
    border: none;
    margin: 0;
    top: 0;
    right: 0;
    background-color: rgb(138, 73, 73);
    max-width: 800px;
}

/* 
Stopka

Style dla footera

Markup:
<p style=text-align:center>Stopka wykorzystuje zdjcie, dowolnej wielkoci, w formacie .jpg lub .png.</p>
<footer>
    <img src="images/LogoUR.svg.ico" alt="urz">
    <div class="footer-1">
        <p>Adam Kowalski</p>
        <p><i>email@gmail.com</i></p>
    </div>
    <div class="footer-2">
        <p>github.com/404ptk</p>
        <p><i>+48 600 900 500</i></p>
    </div>
</footer>
<p>Stopka zostaa podzielona na dwie klasy div贸w (<i>.footer-1 | .footer-2</i>) aby oddzieli od siebie dwie kolumny tekst贸w</p>
<p>Aby zmieni funkcje/wygld tekstu w footerze, nale偶y edytowa kod w "<i>footer p</i>"</p>
<p>Aby zmieni wygld ta stopki, nale偶y edytowa kod w "<i>footer</i>"</p>

Styleguide: 11.0
*/
footer{
    z-index: 0;
    background-color: rgba(62, 62, 63, 0.418);
    color: rgb(255, 255, 255);
    height: 7vh;
    width: 40vh;
    border-radius: 40px 40px 0px 0px;
    display: flex;
    font-size: 90%;
    flex-direction: row;
    cursor: default;
    place-items: center;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}
footer:hover{
    transition: all 0.15s ease-in-out;
    background-color: rgba(62, 62, 63, 0.818);
    opacity: 0.8;
}
footer p{
    opacity: 0.418;
    margin-top: auto;
    font-size: 85%;
    margin-bottom: auto;
    text-align: center;
}
footer img{
    position: absolute;
    opacity: 0.418;
    height: 7vh;
}
footer .footer-1{
    margin-right: 30px;
}
footer .footer-2{
    margin-left: 20px;
}
footer #additionalbackground-bottom{
    position: absolute;
    width: 100%;
    z-index: -1;
    opacity: 0.2;
}

/* 
Responsywno

Zmiany w wygldzie na podstawie szerokoci/wysokoci

Markup:
<h2>Dla szerokoci 0-240px</h2>
<p>h1 - display:block</p>
<h2>Dla szerokoci 241-290px</h2>
<p>h1 - font-size: 80%</p>
<h2>Dla szerokoci 291-480px</h2>
<p>h1 - font-size: 100%</p>
<p>#videos .video-details - display: none</p>
<p>#videos .video-container - width: 315px + rodkowanie elementu</p>
<h2>Dla szerokoci 481-520px</h2>
<p>h1 - font-size: 110%</p>
<p>#videos .video-details #upload_date - display: none</p>
<h2>Dla szerokoci 521-700px</h2>
<p>#kontakt - width: 80%</p>
<h2>Dla szerokoci 701-770px</h2>
<p>#videos .video-details #description - display: none</p>
<h2>Dla szerokoci 721-1001px</h2>
<p>#filters input - width: 80%</p>
<h2>Dla szerokoci 1002-1600px</h2>
<p>#videos - grid-template-columns: repeat(2, 1fr)</p>
<p>.show - width: 80%</p>

Styleguide: 12.0
*/
@media (max-width:240px){
    h1{
        display: block;
    }
}
@media(max-width: 290px){
    h1{
        font-size: 80%;
    }
}
@media (max-width: 480px){
    h1{
        font-size: 100%;
    }
    #videos .video-details{
        display: none;
    }
    #videos .video-container{
        width: 315px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media(max-width: 520px){
    h1{
        font-size: 110%;
    }
    #videos .video-details #upload_date{
        display: none;
    }
}
@media(max-width:700px){
    #kontakt{
        width: 80%;
    }
}
@media(max-width: 770px){
    #videos .video-details #description{
        display: none;
    }
}
@media(max-width: 1001px){
    #filters input{
        width: 80%;
    }
}
@media(max-width:1600px){
    #videos{
        grid-template-columns: repeat(2, 1fr);
    }
    .show{
        width: 80%;
    }
}