body{
    padding: 0;
    margin: 0;
    height: 100%;
    background: linear-gradient(300deg,#695f5f,#0c0b0b);
    background-size: 120% 120%;
    animation: gradient-animation 5s ease infinite;
    font-family: system-ui;
    background-size: cover;
    background-attachment: fixed;
    scroll-behavior: smooth;

}
.container{
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
    background: grey;
}
::-webkit-scrollbar-thumb{
    background: rgb(207, 207, 207);
    border-radius: 30px;
}

/* Górne menu */
.navbar{ 
    left: 0;
    top: 0;
    width: 100%;
    height: 3em;
    background-color: rgb(197, 75, 75);
    position: absolute;
}
.navbar ul{
    width: 100%;
    display: flex;
    height: 100%;
    place-items: center;
}
.navbar ul li{
    width: 100%;
    margin-left: -32px;
    display: flex;
}
.navbar a{
    display: flex;
    width: 100%;
    height: 3em;
    place-items: center;
    text-decoration: none;
    color: white;
    justify-content: center;
    transition: all 0.1s ease-in-out;
}
.navbar a:hover{
    background-color: rgb(73, 4, 8);
    font-weight: 700;
    transition: all 0.1s ease-in-out;
}
.navbar button{
    width: 100%;
    height: 100%;
    border: 0;
    background-color: rgb(197, 75, 75);
    color: white;
}
.navbar button:hover{
    background-color: rgb(73, 4, 8);
    font-weight: 700;
    transition: all 0.1s ease-in-out;
}

/* Ogólne */

section{
    width: 100%;
    margin-bottom: 50px;
}

#description{
    display: flex;
    color: white;
    text-align: center;
}

hr{
    width: 100%;
    color: black;
    margin-top: 30px;
}

h1{
    margin-top: 50px;
    font-size: 200%;
    font-weight: 400;
    color: white;
    cursor: default;
    display: flex;
    justify-content: center;
    text-align: center;
    transition: all 0.3s;
}
h1 b{
    font-weight: 500;
    color: rgb(197, 75, 75);
}
h1:hover{
    transition: all 0.3s;
    letter-spacing: 1px;
}

/* Wyszukiwarka */
#form{
    transition: all 0.3s;
    width: 50%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

#searching{
    margin-top: 65px;
}

#search_icon{
    border-radius: 0% 30% 30% 0%;
    display: flex;
    align-items: center;
}
#search_icon:hover{
    border: 1px solid rgb(73, 4, 8);
    background-color: rgb(73, 4, 8);
}
#search{
    border-radius: 10px 0% 0% 10px;
    transition: all 0.3s;
}

/* Menu filtrów */
#filters{
    top: 0;
    left: 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.466);
    margin-top: 100px;
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    font-weight: 600;
}
#filters input{
    width: auto;
}
#filters output{
    color: white;
    text-align: center;
}
#filters p{
    color: rgb(107, 107, 107);
    padding: 0;
    margin: 0;
}
#upload-range{
    margin-bottom: 20px;
}

#form label{
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#filtry{
    display: flex;
    justify-content: center;
}
#filtry-button{
    border-radius: 20px;
    transition: all 0.2s;
    width: 70px;
}
#filtry-button:hover{
    width: 80px;
    transition: all 0.2s;
    border: 1px solid rgb(73, 4, 8);
    background-color: rgb(73, 4, 8);
}

/* Wyniki wyszukiwania */
#videos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    place-items: center;
}
#videos iframe{
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}
#videos iframe:hover{
    transition: all 0.15s ease-out;
    box-shadow: 0px 0px 15px rgb(177, 84, 84);
}
/* Formularz kontaktowy */
#kontakt{
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
#kontakt input, textarea{
    margin-top: 20px;
}

/* Responsywność */
@media (max-width: 480px){
    h1{
        font-size: 100%;
    }
    #videos iframe{
        width: 310px;
        height: 200px;
    }
}
@media (max-width:240px){
    h1{
        display: block;
    }
}
@media(max-width: 370px){
    #form{
        display: block;
    }
    #search_icon{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        border-radius: 10px;
    }
    #search{
        border-radius: 10px;
    }
    
}
@media(max-width:1600px){
    #videos{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(max-width:1130px){
    #videos{
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
    }
}






@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}